{% extends "blog/base.html" %}
{% block content %}
    {% for profile in profiles %} <!-- profile is the 'key' in home.view context variable-->
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' profile.user.username %}">{{profile.user.username}}</a>
              <small class="text-muted">(Joined: {{profile.user.date_joined|date:"F d, Y"}})</small>
            </div>
              <p class="article-content">{{ profile.about}}</p>
          </div>
        </article>
    {% endfor %}

    <!-- Pagination with Bootstrap styles-->
    {% if is_paginated %}
        <ul class="pagination pagination-sm">
            {% if page_obj.has_previous %}
                <li class = "page-item">
                    <a class = "page-link" href="?page=1">First</a>
                </li>
                <li class = "page-item">
                    <a class = "page-link" href="?page={{ page_obj.previous_page_number }}"><<</a>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class = "page-item disabled">
                        <a class = "page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}     <!--filter for the previous 3 and next 3 pages-->
                                                                                                <!--if we use "or" instead of "and", all pages will appear below"-->
                    <li class = "page-item">
                        <a class = "page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class = "page-item">
                    <a class = "page-link" href="?page={{ page_obj.next_page_number }}">>></a>
                </li>
                <li class = "page-item">
                    <a class = "page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                </li>
            {% endif %}
        </ul>
        <p></p>
    {% endif %}

{% endblock %}