{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">     <!--provides image location-->
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
        <form method="POST" enctype="multipart/form-data">      <!--"enctype" allows for image saving at the background-->
            {% csrf_token %}                                    <!--additional security by Django, without the csrf, the form will not work-->
            <fieldset class="form-dash-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}     <!--UserUpdateForm: for username & e-mail changes-->
                {{ p_form|crispy }}     <!--ProfileUpdateForm: for profile-pic changes-->
                <!--Submit button in not included in the form, that is why add it.-->
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}

