{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}        <!--additional security by Django, without the csrf, the form will not work-->
            <fieldset class="form-dash-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}   <!-- form style and validation using the crispy filter from crispy-forms -->
                <!--Submit button in not included in the form, that is why add it.-->
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </fieldset>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'register' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}